/* Home Page */
.home-section {
  height: 100vh;                 
  padding-left: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;       
  align-items: flex-start; 
}


.home-intro-group {
  margin-bottom: 0.5rem;
}

.home-intro {
  font-size: 1.5rem;
  margin: 0;
  color: #B0B0B0;
}

.home-name {
  font-size: 3.5rem;
  font-weight: 700;
  margin: 0;
  color: #FFFFFF;
}

.typewriter-text {
  font-size: 1.5rem;
  margin-top: 0.5rem;
  color: #F04E23;
}

.home-typewriter-static {
  font-size: 1.5rem;
  color: #B0B0B0;
}

.home-image {
  position: absolute;
  right: 5rem;  
  top: 50%;
  transform: translateY(-50%);
}

.home-image img {
  width: 500px;   
  height: auto;
  border-radius: 15px;
}

@media (max-width: 767px) {
  .home-section {
    min-height: 100vh;
    padding: 2rem 1rem;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .home-intro-group {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .home-intro {
    font-size: 1.2rem;
  }

  .home-name {
    font-size: 2.5rem;
  }

  .home-typewriter-static,
  .typewriter-text {
    font-size: 1.2rem;
  }

  .home-image {
    position: static;
    transform: none;
    margin-top: 2rem;
  }

  .home-image img {
    width: 100%;
    max-width: 300px;
    height: auto;
  }
}