/* Navbar Styling */
.navbar {
  font-family: 'Poppins', sans-serif;
  position: fixed;
  top: 0;
  width: 100%;
  height: 60px;
  background-color: #0B0B0B;
  color: #FFFFFF;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  z-index: 1000;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
  box-sizing: border-box;
}

.navbar-title {
  font-size: 1.5rem;
  font-weight: 600;
}

.navbar-links a {
  font-size: 1rem;  
  font-weight: 400;
  margin-left: 20px;
  color: #FFFFFF;
  text-decoration: none;
  transition: color 0.3s ease;
}

.navbar-links a:hover {
  color: #F04E23;
}
